body {
  margin: 0;
  //background: #F9F9F9;
  font-family: "Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "STXihei", "STHeiti", "Heiti", "SimSun", "sans-serif";
  width: 100%;
  //min-width: 1200px;
  //min-height: 600px;
  overflow: auto;
  overflow-y: hidden;
}

/* 全局公共样式 ---start---*/
.clearfix:before,
.clearfix:after {
  display: block;
  line-height: 0;
  height: 0;
  content: " ";
}

.clearfix {
  &:after {
    clear: both;
  }
}

.line-clamp-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.inline-block {
  display: inline-block !important;
}

.no-border {
  border: none !important;
}
/* 全局公共样式 ---end---*/

/* 伸缩布局公共样式 ---start---*/
.flex-space-between {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-around {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* 伸缩布局公共样式 ---end---*/

/* 全局按钮公共样式 ---start---*/
.el-button--primary {
  //background: linear-gradient(to right, #ff8332, #f84820) !important;
  //border-color: #fff !important;
}

.el-button--default {
  //border-color: #FF6632;
  //background-color: #fff;
  //color: #FF6632;

  // &:hover {
  //   background-color: #fff !important;
  //   border-color: #fa3a00 !important;
  //   color: #fa3a00;
  // }
}

.el-button {

  // &.edit-text{
  //   color: #4C84FF;
  // }
  &.delete-text {
    color: #FA3A00;
  }

  &.edit-btn {
    border: 1px solid #FF6632;
    background: #fff;
    color: #FF6632;
  }

  &.submit,
  &.cancel {
    width: 140px;
  }
}

/* 全局按钮公共样式 ---end---*/

/* 操作提示框公共样式 ---start---*/
.el-message-box {
  .el-message-box__header {
    .el-message-box__headerbtn {
      top: 30px;
    }
  }

  .el-message-box__btns {
    .el-button {
      height: 40px;
      width: 80px;
    }

    &.el-message-box__btns button:nth-child(1) {
      &:hover {
        //background-color: #fff !important;
        //border-color: #fa3a00 !important;
        //color: #fa3a00;
      }

      &.el-button--primary {
        &:hover {
          //background: linear-gradient(to right, #ff8332, #f84820) !important;
          //border-color: #fff !important;
          //color: #fff;
        }
      }
    }

    &.el-message-box__btns button:nth-child(2) {
      //margin-left: 40px;
    }
  }
}

/* 操作提示框公共样式 ---end---*/

/* 全局切换按钮公共样式 ---start---*/
.el-switch__label {
  color: transparent !important;

  &.el-switch__label--left.is-active {
    color: #999 !important;
  }

  &.el-switch__label--right.is-active {
    color: #FA3A00 !important;
  }
}

/* 全局切换按钮公共样式 ---end---*/

/* 全局弹窗公共样式 ---start---*/
.modal-box {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .content {
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    max-height: 75vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    padding: 30px;
    overflow: hidden;
  }

  .header-box {
    font-size: 18px;
    line-height: 24px;
    text-align: left;

    .close-btn {
      color: #BFC5D1;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .form-box {
    max-height: 75vh;
    overflow: auto;
    width: 100%;

    .el-form {
      margin: 50px auto 0;
      padding: 0 20px;
    }

    .el-switch {
      float: left;
      margin-top: 10px;
    }

    .el-select {
      float: left;
    }

    .el-button {
      height: 40px;
      width: 140px;
    }

    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #fa3a00;
    }

    .el-button--default {
      margin-right: 30px;

      &:hover {
        background-color: #fff !important;
        border-color: #fa3a00 !important;
        color: #fa3a00;
      }
    }
  }

  .inline-form {
    padding: 0 !important;
    flex-wrap: wrap;

    .el-form-item__content {
      .el-input {
        width: 190px;
      }
    }
  }

  .submit-btn {
    display: block;
    margin-top: 30px;
    width: 100%;
  }

  .el-radio-group {
    text-align: left;
    width: 190px;
  }

  .el-radio.is-checked {
    .el-radio__inner {
      border-color: #fa3a00;
      background: #fa3a00;
    }

    .el-radio__label {
      color: #444;
    }
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: linear-gradient(90deg, rgba(255, 131, 50, 1) 0%, rgba(255, 102, 50, 1) 49%, rgba(237, 20, 0, 1) 100%);
    border-color: #ff8332;
  }
}

/* 全局弹窗公共样式 ---end---*/

/* 表格管理页面公共样式 ---start---*/
.manage-wrapper {
  background-color: #fff;
  height: calc(100vh - 130px);

  >.el-container {
    height: 100%;

    >.el-main {
      box-sizing: border-box;
      padding: 0;
    }
  }
}

.manage-inner-box {
  height: 100%;
  // min-width: 1000px;

  .list-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      line-height: 70px;
      min-width: 75px;
    }

    // .operate-box {
    // height: 70px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // }

    .el-form-item__label {
      color: #3A4149;
      font-size: 14px;
    }

    .el-button {
      box-sizing: border-box;
      height: 36px;
      min-width: 68px;
      padding: 0 15px;
    }

    .search-form {
      display: inline-block;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .el-form-item {
        margin: 0 0 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .el-range-editor {
          width: 340px;
        }
      }
      .el-input__inner{
        padding: 0 12px !important;
      }
      .el-form-item__content,
      .el-range-editor--small.el-input__inner {
        height: 36px;
        line-height: 36px;

        .el-range-separator {
          line-height: 36px;
        }
      }

      .el-button {
        margin-left: 0;
      }

      .el-form-item__error {
        top: 35px;
        left: 0;
      }

      .el-select {
        .el-input__inner {
          font-size: 14px;
          padding-right: 20px !important;
        }

        .el-input__suffix {
          width: 20px;
        }
      }
    }

    .mini-input {
      height: 36px;
      width: 110px;

      input {
        height: 36px;
      }
    }

    .el-button {
      margin-left: 15px;

      // vertical-align: top;
      &.el-button--default {
        background-color: #fff !important;
        border-color: #fa3a00 !important;
        color: #fa3a00;
      }
    }
  }

  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #f9f9f9;
  }

  .el-table {
    &::before {
      background-color: #fff;
    }
  }

  .el-table td,
  .el-table th.is-leaf {
    border: none;
  }

  th {
    color: #7C7C7C;

    .cell {
      line-height: 36px;
    }
  }

  td {
    color: #444;
    padding: 13px 0 !important;
  }

  .cell {
    font-size: 14px;
  }

  .view-content-btn {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #FA3A00;
    }
  }

  .state-text {
    color: #999;

    &.is-active {
      color: #FA3A00;
    }
  }
}

.manage-list-box {
  height: calc(100% - 70px);

  .table-scrollbar {
    height: calc(100% - 55px);
    overflow: hidden;
  }

  .cell {
    text-align: center;
  }

  .el-pagination {
    height: 36px;
  }
}

/* 表格管理页面公共样式 ---end---*/

/* 页面空白图标共样式 ---start---*/
.empty-logo {
  color: #ccc;
  font-size: 100px;
  padding-top: 100px;

  p {
    font-size: 16px;
    height: 30px;
    margin-top: 10px;
  }

  &.border-top {
    border-top: 1px solid #eee;
  }
}

/* 页面空白图标公共样式 ---end---*/


/* 关键字输入无下拉框公共样式 ---start---*/
.el-select-dropdown.no-user-input-options {
  display: none;
}

/* 关键字输入无下拉框公共样式 ---end---*/

/* 通讯连接中公共样式 ---start---*/
.io-loading {
  .el-loading-text {
    color: #ff6632 !important;
    display: inline-block;
    line-height: 42px;
    vertical-align: top;
    padding-left: 10px;
  }
}

.el-loading-spinner {
  .circular {
    .path {
      stroke: #ff6632;
    }
  }
}

/* 通讯连接中公共样式 ---end---*/

/* 侧边菜单栏公共样式 ---start---*/
.manage-list-aside-wrapper {
  background-color: #fff;
  border-right: 1px solid #eee;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  width: 240px;

  h2 {
    background-color: #fff;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    font-size: 16px;
    height: 50px;
    line-height: 52px;
    padding: 0 20px;
    text-align: left;
  }

  .list-box {
    .el-submenu {
      .el-submenu__title {
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        text-align: left;
      }
    }

    .el-menu-item {
      &.is-active {
        padding-left: 38px !important;
        border-left: 2px solid #fa5c00;
        background-color: #f9f9f9 !important;
      }

      &:hover {
        background-color: #F5F7FA !important;
      }
    }

    &.el-menu {
      border-right: none;

    }
  }
}

/* 侧边菜单栏公共样式 ---end---*/

/* 滚动条公共样式 ---start---*/
.el-scrollbar {
  height: 100%;

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__bar.is-horizontal {
    display: none;
  }
}

/* 滚动条公共样式 ---end---*/

/* 下拉选择器公共样式 ---start---*/
.el-select-dropdown__wrap {
  margin-bottom: 0px !important;
}

.el-select-dropdown__item.selected {
  color: #FA3A00 !important;
}

/* 下拉选择器公共样式 ---end---*/

/* 日期插件的time选择器公共样式 ---start---*/
.el-time-panel {
  &.el-popper {
    left: auto !important;
    right: 0 !important;
  }
}

/* 日期插件的time选择器公共样式 ---end---*/

/* 查看按钮公共样式 ---start---*/
.view-content {
  color: #FA3A00 !important;
  font-size: 14px;
}

/* 查看按钮公共样式 ---end---*/

/* dialog公共样式 ---start---*/
.el-dialog {
  // max-height: 75vh;
  overflow: hidden;
  margin-top: 5vh !important;
}

.el-dialog__header {
  text-align: left;
}

/* dialog公共样式 ---start---*/

/* 列表加载公共样式 ---start---*/
.loading-text {
  color: #666;
  font-size: 12px;
  line-height: 28px;
}

/* 列表加载公共样式 ---end---*/

/* 分页器公共样式 ---start---*/
.pagination-common-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 50px;
}

/* 分页器公共样式 ---end---*/

/* 富文本公共样式 ---start---*/
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  height: 25px !important;
  padding: 0 5px !important;

  &.icon-emoji {
    font-size: 20px;
    padding-top: 2px !important;
  }
}

.send-btn {
  box-shadow: 0px 3px 8px 0px rgba(218, 33, 33, 0.08);
}

.reply-popover {
  text-align: left;

  .title {
    color: #666;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
  }

  .content {
    border-top: 1px solid #eee;
    padding: 10px;

    &:hover {
      background-color: #F5F7FA;
    }
  }
}

/* 富文本公共样式 ---end---*/

/* 输入框palcehold公共样式 ---start---*/
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999 !important;
  font-size: 14px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
  font-size: 14px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999 !important;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999 !important;
  font-size: 14px;
}

/* 输入框palcehold公共样式  ---end---*/

/* 图片预览公共样式  ---start---*/
.viewer-container {
  z-index: 3000 !important;
}
/* 图片预览公共样式  ---end---*/


/* 公共页面 */
.nd-container {
  max-width: 1200px;
  margin: 0px auto;
}