body {
  margin: 0;
  //background: #F9F9F9;
  font-family: "Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "STXihei", "STHeiti", "Heiti", "SimSun", "sans-serif";
  width: 100%;
  //min-width: 1200px;
  //min-height: 600px;
  overflow: auto;
  overflow-y: hidden;
}

/* 全局公共样式 ---start---*/
.clearfix:before,
.clearfix:after {
  display: block;
  line-height: 0;
  height: 0;
  content: " ";
}

.clearfix {
  &:after {
    clear: both;
  }
}

.line-clamp-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.inline-block {
  display: inline-block !important;
}

.no-border {
  border: none !important;
}
/* 全局公共样式 ---end---*/

/* 伸缩布局公共样式 ---start---*/
.flex-space-between {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-around {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* 伸缩布局公共样式 ---end---*/

/* 全局按钮公共样式 ---start---*/
.el-button--primary {
  //background: linear-gradient(to right, #ff8332, #f84820) !important;
  //border-color: #fff !important;
}

.el-button--default {
  //border-color: #FF6632;
  //background-color: #fff;
  //color: #FF6632;

  // &:hover {
  //   background-color: #fff !important;
  //   border-color: #fa3a00 !important;
  //   color: #fa3a00;
  // }
}

.el-button {

  // &.edit-text{
  //   color: #4C84FF;
  // }
  &.delete-text {
    color: #FA3A00;
  }

  &.edit-btn {
    border: 1px solid #FF6632;
    background: #fff;
    color: #FF6632;
  }

  &.submit,
  &.cancel {
    width: 140px;
  }
}

/* 全局按钮公共样式 ---end---*/

/* 操作提示框公共样式 ---start---*/
.el-message-box {
  .el-message-box__header {
    .el-message-box__headerbtn {
      top: 30px;
    }
  }

  .el-message-box__btns {
    .el-button {
      height: 40px;
      width: 80px;
    }

    &.el-message-box__btns button:nth-child(1) {
      &:hover {
        //background-color: #fff !important;
        //border-color: #fa3a00 !important;
        //color: #fa3a00;
      }

      &.el-button--primary {
        &:hover {
          //background: linear-gradient(to right, #ff8332, #f84820) !important;
          //border-color: #fff !important;
          //color: #fff;
        }
      }
    }

    &.el-message-box__btns button:nth-child(2) {
      //margin-left: 40px;
    }
  }
}

/* 操作提示框公共样式 ---end---*/

/* 全局切换按钮公共样式 ---start---*/
.el-switch__label {
  color: transparent !important;

  &.el-switch__label--left.is-active {
    color: #999 !important;
  }

  &.el-switch__label--right.is-active {
    color: #FA3A00 !important;
  }
}

/* 全局切换按钮公共样式 ---end---*/

/* 全局弹窗公共样式 ---start---*/
.modal-box {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .content {
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    max-height: 75vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    padding: 30px;
    overflow: hidden;
  }

  .header-box {
    font-size: 18px;
    line-height: 24px;
    text-align: left;

    .close-btn {
      color: #BFC5D1;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .form-box {
    max-height: 75vh;
    overflow: auto;
    width: 100%;

    .el-form {
      margin: 50px auto 0;
      padding: 0 20px;
    }

    .el-switch {
      float: left;
      margin-top: 10px;
    }

    .el-select {
      float: left;
    }

    .el-button {
      height: 40px;
      width: 140px;
    }

    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #fa3a00;
    }

    .el-button--default {
      margin-right: 30px;

      &:hover {
        background-color: #fff !important;
        border-color: #fa3a00 !important;
        color: #fa3a00;
      }
    }
  }

  .inline-form {
    padding: 0 !important;
    flex-wrap: wrap;

    .el-form-item__content {
      .el-input {
        width: 190px;
      }
    }
  }

  .submit-btn {
    display: block;
    margin-top: 30px;
    width: 100%;
  }

  .el-radio-group {
    text-align: left;
    width: 190px;
  }

  .el-radio.is-checked {
    .el-radio__inner {
      border-color: #fa3a00;
      background: #fa3a00;
    }

    .el-radio__label {
      color: #444;
    }
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: linear-gradient(90deg, rgba(255, 131, 50, 1) 0%, rgba(255, 102, 50, 1) 49%, rgba(237, 20, 0, 1) 100%);
    border-color: #ff8332;
  }
}

/* 全局弹窗公共样式 ---end---*/

/* 表格管理页面公共样式 ---start---*/
.manage-wrapper {
  background-color: #fff;
  height: calc(100vh - 130px);

  >.el-container {
    height: 100%;

    >.el-main {
      box-sizing: border-box;
      padding: 0;
    }
  }
}

.manage-inner-box {
  height: 100%;
  // min-width: 1000px;

  .list-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      line-height: 70px;
      min-width: 75px;
    }

    // .operate-box {
    // height: 70px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // }

    .el-form-item__label {
      color: #3A4149;
      font-size: 14px;
    }

    .el-button {
      box-sizing: border-box;
      height: 36px;
      min-width: 68px;
      padding: 0 15px;
    }

    .search-form {
      display: inline-block;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .el-form-item {
        margin: 0 0 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .el-range-editor {
          width: 340px;
        }
      }
      .el-input__inner{
        padding: 0 12px !important;
      }
      .el-form-item__content,
      .el-range-editor--small.el-input__inner {
        height: 36px;
        line-height: 36px;

        .el-range-separator {
          line-height: 36px;
        }
      }

      .el-button {
        margin-left: 0;
      }

      .el-form-item__error {
        top: 35px;
        left: 0;
      }

      .el-select {
        .el-input__inner {
          font-size: 14px;
          padding-right: 20px !important;
        }

        .el-input__suffix {
          width: 20px;
        }
      }
    }

    .mini-input {
      height: 36px;
      width: 110px;

      input {
        height: 36px;
      }
    }

    .el-button {
      margin-left: 15px;

      // vertical-align: top;
      &.el-button--default {
        background-color: #fff !important;
        border-color: #fa3a00 !important;
        color: #fa3a00;
      }
    }
  }

  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #f9f9f9;
  }

  .el-table {
    &::before {
      background-color: #fff;
    }
  }

  .el-table td,
  .el-table th.is-leaf {
    border: none;
  }

  th {
    color: #7C7C7C;

    .cell {
      line-height: 36px;
    }
  }

  td {
    color: #444;
    padding: 13px 0 !important;
  }

  .cell {
    font-size: 14px;
  }

  .view-content-btn {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #FA3A00;
    }
  }

  .state-text {
    color: #999;

    &.is-active {
      color: #FA3A00;
    }
  }
}

.manage-list-box {
  height: calc(100% - 70px);

  .table-scrollbar {
    height: calc(100% - 55px);
    overflow: hidden;
  }

  .cell {
    text-align: center;
  }

  .el-pagination {
    height: 36px;
  }
}

/* 表格管理页面公共样式 ---end---*/

/* 页面空白图标共样式 ---start---*/
.empty-logo {
  color: #ccc;
  font-size: 100px;
  padding-top: 100px;

  p {
    font-size: 16px;
    height: 30px;
    margin-top: 10px;
  }

  &.border-top {
    border-top: 1px solid #eee;
  }
}

/* 页面空白图标公共样式 ---end---*/


/* 关键字输入无下拉框公共样式 ---start---*/
.el-select-dropdown.no-user-input-options {
  display: none;
}

/* 关键字输入无下拉框公共样式 ---end---*/

/* 通讯连接中公共样式 ---start---*/
.io-loading {
  .el-loading-text {
    color: #ff6632 !important;
    display: inline-block;
    line-height: 42px;
    vertical-align: top;
    padding-left: 10px;
  }
}

.el-loading-spinner {
  .circular {
    .path {
      stroke: #ff6632;
    }
  }
}

/* 通讯连接中公共样式 ---end---*/

/* 侧边菜单栏公共样式 ---start---*/
.manage-list-aside-wrapper {
  background-color: #fff;
  border-right: 1px solid #eee;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  width: 240px;

  h2 {
    background-color: #fff;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    font-size: 16px;
    height: 50px;
    line-height: 52px;
    padding: 0 20px;
    text-align: left;
  }

  .list-box {
    .el-submenu {
      .el-submenu__title {
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        text-align: left;
      }
    }

    .el-menu-item {
      &.is-active {
        padding-left: 38px !important;
        border-left: 2px solid #fa5c00;
        background-color: #f9f9f9 !important;
      }

      &:hover {
        background-color: #F5F7FA !important;
      }
    }

    &.el-menu {
      border-right: none;

    }
  }
}

/* 侧边菜单栏公共样式 ---end---*/

/* 滚动条公共样式 ---start---*/
.el-scrollbar {
  height: 100%;

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__bar.is-horizontal {
    display: none;
  }
}

/* 滚动条公共样式 ---end---*/

/* 下拉选择器公共样式 ---start---*/
.el-select-dropdown__wrap {
  margin-bottom: 0px !important;
}

.el-select-dropdown__item.selected {
  color: #FA3A00 !important;
}

/* 下拉选择器公共样式 ---end---*/

/* 日期插件的time选择器公共样式 ---start---*/
.el-time-panel {
  &.el-popper {
    left: auto !important;
    right: 0 !important;
  }
}

/* 日期插件的time选择器公共样式 ---end---*/

/* 查看按钮公共样式 ---start---*/
.view-content {
  color: #FA3A00 !important;
  font-size: 14px;
}

/* 查看按钮公共样式 ---end---*/

/* dialog公共样式 ---start---*/
.el-dialog {
  // max-height: 75vh;
  overflow: hidden;
  margin-top: 5vh !important;
}

.el-dialog__header {
  text-align: left;
}

/* dialog公共样式 ---start---*/

/* 列表加载公共样式 ---start---*/
.loading-text {
  color: #666;
  font-size: 12px;
  line-height: 28px;
}

/* 列表加载公共样式 ---end---*/

/* 分页器公共样式 ---start---*/
.pagination-common-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 50px;
}

/* 分页器公共样式 ---end---*/

/* 富文本公共样式 ---start---*/
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  height: 25px !important;
  padding: 0 5px !important;

  &.icon-emoji {
    font-size: 20px;
    padding-top: 2px !important;
  }
}

.send-btn {
  box-shadow: 0px 3px 8px 0px rgba(218, 33, 33, 0.08);
}

.reply-popover {
  text-align: left;

  .title {
    color: #666;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
  }

  .content {
    border-top: 1px solid #eee;
    padding: 10px;

    &:hover {
      background-color: #F5F7FA;
    }
  }
}

/* 富文本公共样式 ---end---*/

/* 输入框palcehold公共样式 ---start---*/
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999 !important;
  font-size: 14px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
  font-size: 14px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999 !important;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999 !important;
  font-size: 14px;
}

/* 输入框palcehold公共样式  ---end---*/

/* 图片预览公共样式  ---start---*/
.viewer-container {
  z-index: 3000 !important;
}
/* 图片预览公共样式  ---end---*/


/* margin 公共样式 */
.mt-2 {margin-top: 2px;}
.mt-3 {margin-top: 3px;}
.mt-4 {margin-top: 4px;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px;}
.mt-13 {margin-top: 13px;}
.mt-15 {margin-top: 15px;}
.mt-17 {margin-top: 17px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}

.mti-10 {margin-top: 10px !important;}
.mti-20 {margin-top: 20px !important;}
.mti-40 {margin-top: 40px !important;}
.mti-60 {margin-top: 60px !important;}
.mti-80 {margin-top: 80px !important;}

.mb-2 {margin-bottom: 2px;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px !important;}
.mb-40 {margin-bottom: 20px;}
.mb-50 {margin-bottom: 50px;}
.mb-100 {margin-bottom: 100px;}
.mbi-10 {margin-bottom: 10px !important;}

.mr-2 {margin-right: 2px;}
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-70 {margin-right: 70px;}
.mr-165 {margin-right: 165px;}

.mri-20 {margin-right: 20px !important;}
.mri-30 {margin-right: 30px !important;}

.ml-5 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-28 {margin-left: 28px;}
.ml-35 {margin-left: 35px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.ml-52 {margin-left: 52px;}
.ml-80 {margin-left: 80px;}
.ml-90 {margin-left: 90px;}
.ml-150 {margin-left: 150px;}
.ml-250 {margin-left: 250px;}

.mta-10 {margin: 10px auto;}
.mg-5 {margin: 5px}

.mli-10 {margin-left: 10px !important;}
.mli-280 {margin-left: 280px !important;}
/* padding 公共样式 */
.pr-10 {padding-right: 10px;}

.pl-100 {padding-left: 100px;}
.pt-5 {padding-top: 5px;}
.pt-15 {padding-top: 15px;}

.pb-20 {padding-bottom: 20px;}
.pb-40 {padding-bottom: 40px;}


.pd-5 {padding: 5px;}
.pd-10 {padding: 10px;}

/* width 公共样式 */
.wd-50 {width: 50px;}
.wd-80 {width: 80px;}
.wd-100 {width: 100px;}
.wd-200 {width: 200px;}
.wd-300 {width: 300px;}
.wd-350 {width: 350px;}
.wd-515 {width: 515px;}
.wd-900 {width: 900px;}
.wd-1100 {width: 1100px;}

.wdi-80 {width: 80px !important;}
.wdi-100 {width: 100px !important;}
.wdi-120 {width: 120px !important;}
.wdi-190 {width: 190px !important;}
.wdi-220 {width: 220px !important;}
.wdi-239 {width: 239px !important;}
.wdi-258 {width: 258px !important;}
.wdi-270 {width: 270px !important;}
.wdi-284 {width: 284px !important;}
.wdi-288 {width: 288px !important;}
.wdi-300 {width: 300px !important;}
.wdi-350 {width: 350px !important;}
.wdi-390 {width: 390px !important;}
.wdi-395 {width: 395px !important;}
.wdi-400 {width: 400px !important;}
.wdi-420 {width: 420px !important;}
.wdi-453 {width: 453px !important;}
.wdi-460 {width: 460px !important;}
.wdi-515 {width: 515px !important;}
.wdi-562 {width: 562px !important;}
.wdi-600 {width: 600px !important;}
.wdi-650 {width: 650px !important;}
.wdi-670 {width: 670px !important;}
.wdi-692 {width: 692px !important;}
.wdi-700 {width: 700px !important;}
.wdi-708 {width: 708px !important;}
.wdi-720 {width: 720px !important;}
.wdi-740 {width: 740px !important;}
.wdi-800 {width: 800px !important;}
.wdi-900 {width: 900px !important;}

.wp-50 {width: 50%;}
.wp-20 {width: 30%;}
.wp-30 {width: 30%;}
.wp-70 {width: 70%;}
.wp-100 {width: 100%;}

/* height 公共样式 */
.hp-20 {height: 20px;}
.hp-30 {height: 30px;}
.hp-50 {height: 50px;}
.hp-80 {height: 80px;}
.hp-100 {height: 100px;}
.hp-200 {height: 200px;}
.hp-600 {height: 600px;}

.lh-30 {line-height: 30px;}
.lh-40 {line-height: 40px;}
.lh-50 {line-height: 50px;}
.lh-60 {line-height: 60px;}
.lh-90 {line-height: 90px;}
.lh-100 {line-height: 100px;}
.lh-120 {line-height: 120px;}

.hpr-100 {height: 100%;}
/* line-height */
.lh-20 {line-height: 20px;}
.lh-28 {line-height: 28px;}

/* 文字颜色 公共样式 */
.color-999 {color: #999;}
.color-fa5c26 {color: #fa5c26;}
.color-b83f3f {color: #b83f3f;}
.color-ce0909 {color: #ce0909;}
.color-ae0000a6 {color: #ae0000a6;}
.color-ec2c2c {color: #ec2c2c;}
.color-67C23A {color: #67C23A;}
.color-F56C6C {color: #F56C6C;}
.color-303133 {color: #303133;}
.color-7dc5eb {color: #7dc5eb;}
.color-409EFF {color: #409EFF;}
.color-909399 {color: #909399;}
.color-606266 {color: #606266;}
.colori-ffffff {color: #ffffff !important;}
.colori-303133 {color: #303133 !important;}

/* icon 公共样式 */
.phone {
  background: url("../img/icon/phone.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.phoneg-icon {
  background: url("../img/icon/phoneg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.mailbox {
  background: url("../img/icon/mailbox.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.position {
  background: url("../img/icon/position.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 28px;
  height: 28px;
}
.people {
  background: url("../img/icon/people.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.accountSetting {
  background: url("../img/icon/accountSetting.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.attention {
  background: url("../img/icon/attention.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.blog {
  background: url("../img/icon/blog.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.contacts {
  background: url("../img/icon/contacts.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.fans {
  background: url("../img/icon/fans.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.favorites {
  background: url("../img/icon/favorites.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.favoritesr-icon {
  background: url("../img/icon/favoritesr.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.unfavorites-icon {
  background: url("../img/icon/unfavorites.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.logout {
  background: url("../img/icon/logout.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.unlinke-icon {
  background: url("../img/icon/unlike.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.linke-icon {
  background: url("../img/icon/like.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.dislinke-icon {
  background: url("../img/icon/dislike.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.dislinke-blue-icon {
  background: url("../img/icon/dislike-blue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.evaluation-icon {
  background: url("../img/icon/evaluation.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.share-icon {
  background: url("../img/icon/share.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.reply-icon {
  background: url("../img/icon/reply.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 20px;
}
.reply-blue-icon {
  background: url("../img/icon/reply-blue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 20px;
}
.inform-icon {
  background: url("../img/icon/inform.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.inform-blue-icon {
  background: url("../img/icon/inform-blue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.delete-blue-icon {
  background: url("../img/icon/delete-blue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.nodata-icon {
  background: url("../img/icon/nodata.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 128px;
  height: 128px;
}
.message-icon {
  background: url("../img/icon/message.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 58px;
  height: 50px;
  margin-top: 0px;
  margin-left: 20px;
}
.msg-icon {
  background: url("../img/icon/msg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-top: 5px;
  margin-right: 20px;
}
.info-icon {
  background: url("../img/icon/info.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 20px;
}
.shangjin-icon {
  background: url("../img/icon/shangjin.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.ren-icon {
  background: url("../img/icon/ren.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.shenfz-icon {
  background: url("../img/icon/shenfz.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 17px;
}
.shenfzg-icon {
  background: url("../img/icon/shenfzg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 17px;
}
.shouji-icon {
  background: url("../img/icon/shouji.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.shoujig-icon {
  background: url("../img/icon/shoujig.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.youxiang-icon {
  background: url("../img/icon/youxiang.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 17px;
}
.youxiangg-icon {
  background: url("../img/icon/youxiangg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 17px;
  height: 17px;
}
.yinhk-icon {
  background: url("../img/icon/yinhk.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.yinhkg-icon {
  background: url("../img/icon/yinhkg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.llrs-icon {
  background: url("../img/icon/llrs.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 20px;
}
.kezhuo-icon {
  background: url("../img/icon/kezhuo.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.kezhuoh-icon {
  background: url("../img/icon/kezhuoh.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.kezhuoh-icon {
  background: url("../img/icon/kezhuoh.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.wxzf {
  background: url("../img/icon/wxzf.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 3px;
}
.zfbzf {
  background: url("../img/icon/zfbzf.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 90px;
  height: 25px;
  margin: 3px 12px 3px 12px;
}
.naoling {
  background: url("../img/icon/naoling.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.naozhongb {
  background: url("../img/icon/naozhongb.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 3px 12px 3px 12px;
}
.weizhi {
  background: url("../img/icon/weizhi.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 3px 12px 3px 12px;
}
.weizhib {
  background: url("../img/icon/weizhib.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.renshu {
  background: url("../img/icon/renshu.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.feiyong {
  background: url("../img/icon/feiyong.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.shijian {
  background: url("../img/icon/shijian.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.fenshu {
  background: url("../img/icon/xuefen.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 12px 3px 12px;
}
.pingjia {
  background: url("../img/icon/pingjia.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.rongyu {
  background: url("../img/icon/rongyu.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 128px;
  height: 128px;
}
.rongyu2 {
  background: url("../img/icon/rongyu.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.fenlie {
  background: url("../img/icon/fenlie.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.tuichu {
  background: url("../img/icon/tuichu.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.shouye {
  background: url("../img/icon/shouye.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.xiangxia {
  background: url("../img/icon/xiangxia.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.yc {
  background: url("../img/icon/yc.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 20px;
}
.xiangshang {
  background: url("../img/icon/xiangshang.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.huodong {
  background: url("../img/icon/huodong.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.huo {
  background: url("../img/icon/huo.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.rongyu1 {
  background: url("../img/icon/rongyu1.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.baoqian {
  background: url("../img/icon/baoqian.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.kecheng {
  background: url("../img/icon/kecheng.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 35px;
  height: 35px;
}
.huodong1 {
  background: url("../img/icon/huodong1.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.jiaofei {
  background: url("../img/icon/jiaofei.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.zhengshu {
  background: url("../img/icon/zhengshu.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.laoshi {
  background: url("../img/icon/laoshi.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.xuesheng {
  background: url("../img/icon/xuesheng.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.czwd {
  background: url("../img/icon/czwd.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.app_flower {
  background: url("../img/icon/xianhua.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}
.jiangbei {
  background: url("../img/icon/jiangbei.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}
//修改el-dialog top 样式
.aiCloud-dialog .el-dialog__header {
  background-image: linear-gradient(#2b90ff, #409EFF);
}
.aiCloud-dialog .el-icon-close {
  color: #FFFFFF !important;
  font-size: 16px;
}
.aiCloud-dialog .el-icon-close:hover {
  color: #ff7521 !important;
}
.aiCloud-dialog .el-dialog__title {
  color: #FFFFFF;
  font-size: 16px;
}
.el-dialog {
  border-radius: 5px !important;
}

.aiCloud-dialog1 {
  top: 80px !important;
}
.aiCloud-dialog1 .el-dialog__header {
  background-image: linear-gradient(#303133, #606266);
}
.aiCloud-dialog1 .el-icon-close {
  color: #FFFFFF !important;
  font-size: 16px;
}
.aiCloud-dialog1 .el-icon-close:hover {
  color: #ff7521 !important;
}
.aiCloud-dialog1 .el-dialog__title {
  color: #FFFFFF;
  font-size: 16px;
}
.dialog-footer {
  text-align: center;
}

//字体
.fb {font-weight: bold;}

.fs-10 {font-size: 10px;}
.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-20 {font-size: 20px;}
.fs-22 {font-size: 22px;}
.fs-24 {font-size: 24px;}
.fs-30 {font-size: 30px;}

// 布局
.dffn {display: flex; flex-wrap: nowrap;}
.dffw {display: flex; flex-wrap: wrap;}
.dffc {display: flex; flex-direction: column;}
.dfjc {display: flex; justify-content: center;}
.ac {align-items: center;}
.jc {justify-content: center;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}
.fg1 {flex-grow: 1;}

.aioc-container {
  display: flex;
  justify-content: center;
  background: #eeeeee;
  margin-top: 50px;
}
.aioc-container1 {
}
.header {
  //height: 50px;
  background: #333333;
}

// 热门条件
.cond {
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.cond > span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
}
.hot-cond > span:nth-of-type(1) {
  margin-left: 20px !important;
}
.hot-cond > span:nth-of-type(n+1) {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  margin-top: 15px;
  font-size: 14px;
  color: #909399;
}
.hot-cond2 > span:nth-of-type(n+1) {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #909399;
}

.cond-selected {
  background: #f51d37;
  color: #ffffff !important;
  border-radius: 3px;
}
.select-conds {
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.select-conds > span:nth-of-type(1){
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.select-conds > span:nth-of-type(n+2) {
  font-size: 14px;
  margin: 9px 5px 0 5px;
}

// 卡片
.aioc-card-1100 {
  width: 1100px;
}

.textarea textarea{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.fter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}
.lotitle {
  position: absolute;
  top: 10px;
  font-size: 26px;
  color: #bf954b;
  font-family: 华文宋体;
  font-weight: 800;
  width: 450px;
}
.f-main {
  background: #3a4144;
}

/*aioc 黑色 表格样式*/
.aioc-table {
  background: #4b5357 !important;
}
.aioc-table th {
  background: #798084 !important;
  color: #FFF !important;
  font-weight: 600;
}
.aioc-table tr {
  background: #4b5357 !important;
  color: #FFF;
}
.aioc-table .el-table__empty-text {
  color: #FFF;
}
.pagination .el-pagination__total, .pagination .el-pagination__jump {
  color: #ffffff !important;
}
.el-table .warning-row {
  background: oldlace;
}
.aioc-table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #606266 !important;
}
.aioc-table .hover-row tr {
  background: #606266 !important;
}
.aioc-table .hover-row td {
  background: #606266 !important;
}
/*去掉表格单元格边框*/
.aioc-table th{
  border:none;
}
.aioc-table td,.customer-no-border-table th.is-leaf {
  border:none !important;
  border-bottom: 1px solid #666d70 !important;
}
/*表格最外边框*/
.aioc-table .el-table--border, .el-table--group{
  border: none;
}
/*头部边框*/
.aioc-table thead tr th.is-leaf{
  border: 0px solid #EBEEF5 !important;
  border-right: none !important;
}
.customer-no-border-table thead tr th:nth-last-of-type(2){
  border-right: 0px solid #EBEEF5 !important;
}
/*表格最外层边框-底部边框*/
.aioc-table .el-table--border::after,.customer-no-border-table .el-table--group::after{
  width: 0 !important;
}
.aioc-table::before{
  width: 0 !important;
}
.aioc-table .el-table__fixed-right::before,.el-table__fixed::before{
  width: 0 !important;
}
.aioc-table .el-table__header tr th{
  background: #fff;
  color: #333333 ;
  padding: 3px ;
  fontWeight: 550 ;
  height: 47px ;
  border: 0px;
  font-size: 15px;
}
.aioc-table .el-icon-arrow-right {
  color: #ffffff;
}

.aiocw-table {
  background: #ffffff !important;
}
/*aioc 白色 表格样式*/
.aiocw-table {
  background: #ffffff !important;
}
.aiocw-table th {
  background: #ffffff !important;
  color: #606266 !important;
  font-weight: 600;
}
.aiocw-table tr {
  background: #ffffff !important;
  color: #606266;
}
.aiocw-table .el-table__empty-text {
  color: #606266;
}
.pagination .el-pagination__total, .pagination .el-pagination__jump {
  color: #606266 !important;
}
.aiocw-table .warning-row {
  background: oldlace;
}
.aiocw-table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #ffffff !important;
}
.aiocw-table .hover-row tr {
  background: #ffffff !important;
}
.aiocw-table .hover-row td {
  background: #ffffff !important;
}
/*去掉表格单元格边框*/
.aiocw-table th{
  border:none;
}
.aiocw-table td,.customer-no-border-table th.is-leaf {
  border:none !important;
  border-bottom: 1px solid #ffffff !important;
}
/*表格最外边框*/
.aiocw-table .el-table--border, .el-table--group{
  border: none;
}
/*头部边框*/
.aiocw-table thead tr th.is-leaf{
  border: 0px solid #EBEEF5 !important;
  border-right: none !important;
}
.customer-no-border-table thead tr th:nth-last-of-type(2){
  border-right: 1px solid #EBEEF5 !important;
}
/*表格最外层边框-底部边框*/
.aiocw-table .el-table--border::after,.customer-no-border-table .el-table--group::after{
  width: 0 !important;
}
.aiocw-table::before{
  width: 0 !important;
}
.aiocw-table .el-table__fixed-right::before,.el-table__fixed::before{
  width: 0 !important;
}
.aiocw-table .el-table__header tr th{
  background: #fff;
  color: #333333 ;
  padding: 3px ;
  fontWeight: 550 ;
  height: 47px ;
  border: 0px;
  font-size: 15px;
}
.aiocw-table .el-icon-arrow-right {
  color: #333333;
}


/*aioc 按钮样式*/
.aioc-btn {
  background: linear-gradient(to right, #ff8332, #f84820) !important;
  border-color: #4b5357 !important;
}
.aioc-btn1 {
  background: #409EFF !important;
  border-color: #409EFF !important;
  color: #FFF !important;
}
.aioc-btn2 {
  background: #f84820 !important;
  border-color: #f84820 !important;
  color: #FFF !important;
}
.aiocw-btn1 {
  background: #409EFF !important;
  border-color: #409EFF !important;
  color: #FFF !important;
}

/* aioc form表单样式*/
.aioc-form .el-form-item__label {
  color: #FFF !important;
}
.aioc-form .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.aioc-form .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.aioc-form .el-input__inner {
  height: 32px;
}
.aioc-form .el-cascader {
  height: 32px !important;
  line-height: 32px;
}

.aiocw-form .el-form-item__label {
  color: #000000 !important;
}
.aiocw-form .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.aiocw-form .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.aiocw-form .el-input__inner {
  height: 32px;
}
.aiocw-form .el-cascader {
  height: 32px !important;
  line-height: 32px;
}

/*aioc 卡片样式*/
.aioc-card {
  text-align: left !important;
  background: #1f2224 !important;
  border: 1px solid #1f2224 !important;
  color: #FFF !important;
  overflow: auto !important;
}

/*aioc 滚轮样式*/
.aioc-card::-webkit-scrollbar {
  width: 2px !important;
}
.aioc-card::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aioc-card::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aioc-card::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.aioc-card::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/*aioc 滚轮样式*/
.el-dialog.is-fullscreen::-webkit-scrollbar {
  width: 2px !important;
}
.el-dialog.is-fullscreen::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/*aioc 滚轮样式*/
.aioc-scroll::-webkit-scrollbar {
  width: 2px !important;
}
.aioc-scroll::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.aioc-scroll::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/* aioc dialog*/
.aioc-dialog .el-dialog {
  margin-top: 0vh !important;
  background: #ffffff !important;
}
.aioc-dialog .el-dialog__header {
  background: #1f2224 !important;
}
.aioc-dialog .el-dialog__title {
  color: #ffffff !important;
}

.aiocw-ex:hover {
  background: #ffffff !important;
}
.auto-card {
  margin: 10px auto;
}




/************************************** aiocw dialog *******************************************/

/* aioc dialog*/
.aioc-dialog .el-dialog {
  margin-top: 0vh !important;
  background: #ffffff !important;
}
.aioc-dialog .el-dialog__header {
  background: #1f2224 !important;
}
.aioc-dialog .el-dialog__title {
  color: #ffffff !important;
}
/*el-dialog 滚轮样式*/
.el-dialog.is-fullscreen::-webkit-scrollbar {
  width: 2px !important;
}
.el-dialog.is-fullscreen::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.el-dialog.is-fullscreen::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/*aioc 滚轮样式*/
.aioc-scroll::-webkit-scrollbar {
  width: 2px !important;
}
.aioc-scroll::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.aioc-scroll::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/************************************** aiocw dialog *******************************************/

.aiocw-dialog .el-dialog {
  margin-top: 0vh !important;
  background: #ffffff !important;
  top: 50px;
  border-radius: 5px;
}
.aiocw-dialog .el-dialog__header {
  background: #409EFF !important;
  padding: 15px 20px 10px;
}
.aiocw-dialog .el-dialog__title {
  color: #ffffff !important;
  font-size: 16px !important;
}
.aiocw-dialog .el-dialog__close {
  color: #ffffff !important;
}

/*aiocw-dialog  is-fullscreen滚轮样式*/
.aiocw-dialog.is-fullscreen::-webkit-scrollbar {
  width: 11px !important;
}
.aiocw-dialog.is-fullscreen::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-thumb {
  background-color: rgba(20, 140, 255, 0.6) !important;
} /* 滚动条的内层滑块颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}
/*aiocw-dialog 滚轮样式*/
.aiocw-dialog::-webkit-scrollbar {
  width: 11px !important;
}
.aiocw-dialog::-webkit-scrollbar-track-piece {
  background-color: #eeeeee !important;
} /* 滚动条的内层滑轨背景颜色 */

.aiocw-dialog::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aiocw-dialog::-webkit-scrollbar-thumb {
  background-color: rgba(20, 140, 255, 0.6) !important;
} /* 滚动条的内层滑块颜色 */

.aiocw-dialog::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}



.aiocw-ex:hover {
  background: #ffffff !important;
}
.auto-card {
  margin: 10px auto;
}

.bg-ffffff {
  background: #ffffff;
}

//修改el-autocomplete的padding
.el-scrollbar__view {
  padding-bottom: 15px !important;
}


/************************ aiocw 开始 ********************************************/
.aiocw-dialog .el-dialog {
  margin-top: 0vh !important;
  background: #ffffff !important;
  top: 50px;
}
.aiocw-dialog .el-dialog__header {
  background: #409EFF !important;
  padding: 15px 20px 10px;
}
.aiocw-dialog .el-dialog__title {
  color: #ffffff !important;
  font-size: 16px !important;
}
.aiocw-dialog .el-dialog__close {
  color: #ffffff !important;
}

/*aiocw-dialog  is-fullscreen滚轮样式*/
.aiocw-dialog.is-fullscreen::-webkit-scrollbar {
  width: 11px !important;
}
.aiocw-dialog.is-fullscreen::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-thumb {
  background-color: rgba(20, 140, 255, 0.6) !important;
} /* 滚动条的内层滑块颜色 */

.aiocw-dialog.is-fullscreen::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}
/*aiocw-dialog 滚轮样式*/
.aiocw-dialog::-webkit-scrollbar {
  width: 11px !important;
}
.aiocw-dialog::-webkit-scrollbar-track-piece {
  background-color: #eeeeee !important;
} /* 滚动条的内层滑轨背景颜色 */

.aiocw-dialog::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aiocw-dialog::-webkit-scrollbar-thumb {
  background-color: rgba(20, 140, 255, 0.6) !important;
} /* 滚动条的内层滑块颜色 */

.aiocw-dialog::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

.aiocw-card {
  text-align: left !important;
  background: #e9ecf3 !important;
  border: 1px solid #eeeeee !important;
  color: #333 !important;
  overflow: auto !important;
}
.aiocw-card1 {
  background: #ffffff !important;
}
.aiocw-card .el-card__body {
  padding: 15px;
}

/*aiocw-card 滚轮样式*/
.aiocw-card::-webkit-scrollbar {
  width: 10px !important;
}
.aiocw-card::-webkit-scrollbar-track-piece {
  background-color: #999999 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aiocw-card::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aiocw-card::-webkit-scrollbar-thumb {
  background-color: rgba(20, 140, 255, 0.6) !important;
} /* 滚动条的内层滑块颜色 */

.aiocw-card::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

.aiocw-main {
  background: #eeeeee;
}

//form
.aiocw-form {
  text-align: left !important;
}
.aiocw-form .el-form-item__label {
  font-weight: "黑体";
  color: #333 !important;
}
.aiocw-form .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.aiocw-form .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.aiocw-form .el-input__inner {
  height: 32px;
}
.aiocw-form .el-cascader {
  height: 32px !important;
  line-height: 32px;
}

.aiocw-ex:hover {
  background: #ffffff !important;
}
//表格
.aiocw-table {
  background: #ffffff !important;
}
.aiocw-table {
  background: #ffffff !important;
}
.aiocw-table th {
  background: #ffffff !important;
  color: #606266 !important;
  font-weight: 600;
}
.aiocw-table tr {
  background: #ffffff !important;
  color: #606266;
}
.aiocw-table .el-table__empty-text {
  color: #606266;
}
.pagination .el-pagination__total, .pagination .el-pagination__jump {
  color: #606266 !important;
}
.aiocw-table .warning-row {
  background: oldlace;
}
.aiocw-table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #ffffff !important;
}
.aiocw-table .hover-row tr {
  background: #ffffff !important;
}
.aiocw-table .hover-row td {
  background: #ffffff !important;
}
/*去掉表格单元格边框*/
.aiocw-table th{
  border:none;
}
.aiocw-table td,.customer-no-border-table th.is-leaf {
  border:none !important;
  border-bottom: 1px solid #ffffff !important;
}
/*表格最外边框*/
.aiocw-table .el-table--border, .el-table--group{
  border: none;
}
/*头部边框*/
.aiocw-table thead tr th.is-leaf{
  border: 0px solid #EBEEF5 !important;
  border-right: none !important;
}
.customer-no-border-table thead tr th:nth-last-of-type(2){
  border-right: 1px solid #EBEEF5 !important;
}
/*表格最外层边框-底部边框*/
.aiocw-table .el-table--border::after,.customer-no-border-table .el-table--group::after{
  width: 0 !important;
}
.aiocw-table::before{
  width: 0 !important;
}
.aiocw-table .el-table__fixed-right::before,.el-table__fixed::before{
  width: 0 !important;
}
.aiocw-table .el-table__header tr th{
  background: #fff;
  color: #333333 ;
  padding: 3px ;
  fontWeight: 550 ;
  height: 47px ;
  border: 0px;
  font-size: 15px;
}
.aiocw-table .el-icon-arrow-right {
  color: #333333;
}
/************************ aiocw 结束 ********************************************/

/************************ aioc 开始 ********************************************/
.aioc-main {
  background: #333;
}

/* aioc form表单样式*/
.aioc-form .el-form-item__label {
  color: #FFF !important;
}
.aioc-form .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.aioc-form .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.aioc-form .el-input__inner {
  height: 32px;
}
.aioc-form .el-cascader {
  height: 32px !important;
  line-height: 32px;
}

/*aioc 滚轮样式*/
.aioc-scroll::-webkit-scrollbar {
  width: 10px !important;
}
.aioc-scroll::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aioc-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.aioc-scroll::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

.aioc-header {
  margin-bottom: 0px;
  background: rgba(255,255,255,1);
  border-bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  transition: 1s;
  position: fixed;
}
.aioc-header-next {
  margin-top: 110px;
}

/* aioc dialog*/
.aioc-dialog .el-dialog {
  margin-top: 0vh !important;
  background: #ffffff !important;
}
.aioc-dialog .el-dialog__header {
  background: #1f2224 !important;
}
.aioc-dialog .el-dialog__title {
  color: #ffffff !important;
}

/*aioc 滚轮样式*/
.aioc-card::-webkit-scrollbar {
  width: 10px !important;
}
.aioc-card::-webkit-scrollbar-track-piece {
  background-color: #001029 !important;
} /* 滚动条的内层滑轨背景颜色 */

.aioc-card::-webkit-scrollbar-track {
  background-color: #fff !important;
} /* 滚动条的外层滑轨背景颜色 */

.aioc-card::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.6) !important;
} /* 滚动条的内层滑块颜色 */

.aioc-card::-webkit-scrollbar-button {
  background-color: #fff !important;
  display: none !important;
}

/*aioc 卡片样式*/
.aioc-card {
  text-align: left !important;
  background: #1f2224 !important;
  border: 1px solid #1f2224 !important;
  color: #FFF !important;
  overflow: auto !important;
}
.aioc-card1 {
  background: #383c3e !important;
  border: 1px solid #383c3e !important;
}

/*aioc 黑色 表格样式*/
.aioc-table {
  background: #4b5357 !important;
}
.aioc-table th {
  background: #798084 !important;
  color: #FFF !important;
  font-weight: 600;
}
.aioc-table tr {
  background: #4b5357 !important;
  color: #FFF;
}
.aioc-table tr:hover {
  background: #4b5357 !important;
  color: #ff2961;
  font-weight: 600;
}
.aioc-table .el-table__empty-text {
  color: #FFF;
}
.aioc-table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #606266 !important;
}
.aioc-table .hover-row tr {
  background: #606266 !important;
}
.aioc-table .hover-row td {
  background: #606266 !important;
}
/*去掉表格单元格边框*/
.aioc-table th{
  border:none;
}
.aioc-table td,.customer-no-border-table th.is-leaf {
  border:none !important;
  border-bottom: 1px solid #666d70 !important;
}
/*表格最外边框*/
.aioc-table .el-table--border, .el-table--group{
  border: none;
}
/*头部边框*/
.aioc-table thead tr th.is-leaf{
  border: 0px solid #EBEEF5 !important;
  border-right: none !important;
}
.customer-no-border-table thead tr th:nth-last-of-type(2){
  border-right: 0px solid #EBEEF5 !important;
}
/*表格最外层边框-底部边框*/
.aioc-table .el-table--border::after,.customer-no-border-table .el-table--group::after{
  width: 0 !important;
}
.aioc-table::before{
  width: 0 !important;
}
.aioc-table .el-table__fixed-right::before,.el-table__fixed::before{
  width: 0 !important;
}
.aioc-table .el-table__header tr th{
  background: #fff;
  color: #333333 ;
  padding: 3px ;
  fontWeight: 550 ;
  height: 47px ;
  border: 0px;
  font-size: 15px;
}
.aioc-table .el-icon-arrow-right {
  color: #ffffff;
}


.el-image-viewer__close {
  color: red !important;
}

.elh-jieshao1:before {
  content: "\e611";
}

.elh-paihangbang:before {
  content: "\e63f";
}

.elh-personnel:before {
  content: "\e65a";
}

.app_main_card {
  overflow: auto;
  margin-bottom: 40px;
}

.app_item_br {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.app_item_bl {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.app_br {
  border-radius: 10px !important;
}

.app_br_20 {
  border-radius: 20px !important;
}
.app_tit {
  font-size: 16px;
}